<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thêm hoặc Chỉnh sửa Thiết bị</title>
</head>
<body>
	<div th:insert="~{fragments/header}"></div>

	<form th:action="@{/admin/equipments/save/{id}(id=${idHouse})}"
		method="post" enctype="multipart/form-data">
		<input type="hidden" name="isEdit" th:value="${equip?.isEdit != null ? equip.isEdit : false}"> <br>
		
		<!-- ID Thiết bị -->
		<input type="hidden" id="id" name="id" th:value="${equip?.id}" /><br>
		
		<label for="sensor">Sensor:</label> 
		<input type="text" id="sensor" name="sensor" th:value="${equip?.sensor}" /><br>
		
		<!-- Nhà sản xuất (NSX) -->
		<label for="nsx">Nhà sản xuất (NSX):</label> 
		<input type="text" id="nsx" name="nsx" th:value="${equip?.nsx}" /><br>
		
		<!-- Mô tả -->
		<label for="description">Mô tả:</label>
		<input type="text" id="description" name="description" th:value="${equip?.description}" /><br>
		
		<!-- Hình ảnh -->
		<label for="image">Hình ảnh:</label><br>
		<div th:if="${equip == null or !equip.isEdit}">
			<img id="image" src="#" alt="Image Preview" style="display: none; max-width: 200px; max-height: 150px;" /><br>
		</div>
		<div th:if="${equip != null && equip.image != null}">
			<img th:if="${#strings.startsWith(equip.image, 'https')}"
				th:src="${equip.image}" height="150" width="200" id="image" />
			<img th:if="${!#strings.startsWith(equip.image, 'https')}"
				th:src="@{/file/image(fname=${equip.image})}" height="150" width="200" id="image" />
		</div>

		<!-- Chọn file hình ảnh -->
		<input type="file" onchange="chooseFile(this)" id="imageFile" name="imageFile" /><br>

		<!-- Nhập URL hình ảnh từ internet -->
		<input type="text" id="imageUrl" name="image" placeholder="Nhập URL hình ảnh" th:value="${equip?.image ?: ''}" /><br>
		

		<script>
			function chooseFile(input) {
				if (input.files && input.files[0]) {
					const reader = new FileReader();
					reader.onload = function(e) {
						const previewImage = document.getElementById("image");
						previewImage.src = e.target.result;
						previewImage.style.display = "block"; // Hiện ảnh sau khi tải
					};
					reader.readAsDataURL(input.files[0]);
				}
			}
		</script>

		<!-- Hiển thị nút Insert hoặc Update -->
		<div th:if="${equip == null or !equip.isEdit}">
			<input type="submit" value="Insert" />
		</div>
		<div th:if="${equip != null and equip.isEdit}">
			<input type="submit" value="Update" />
		</div>
	</form>

	<div th:insert="~{fragments/footer}"></div>
</body>
</html>
