<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <!-- Column 1: Company Info -->
            <div class="col-md-4 ">

                <h3>About us</h3>
                <p>
                    Email: <a href="mailto:info@moosesmarthome.com">ptchc@hcmute.edu.vn</a> <br>
                    Phone: +84 (028) 389-68641 <br>
                    Address: So 1, Vo Van Ngan, Linh Chieu, Ho Chi Minh
                </p>
                <p>&copy; 2024 MOOSE SMARTHOME. All Rights Reserved.</p>
            </div>
            <!-- Column 2: Additional Contacts -->
            <div class="col-md-4">
            <h3>Our Contacts</h3>
            <p>Le Quoc Cuong - 21146070 <a href="mailto:info@metronic.com">21146070@student.hcmute.edu.vn</a></p>
            <p>Tran Hoang Duy - 21146073 <a href="mailto:info@metronic.com">21146073@student.hcmute.edu.vn</a></p>
            </div>
            
            <div class="col-md-3">

            <p style="margin-top: 55px;">Ho Xuan Huy - 21146465 <a href="mailto:info@metronic.com">21146465@student.hcmute.edu.vn</a></p>
            <p>Vo Duy Khai - 21146474 <a href="mailto:info@metronic.com">21146474@student.hcmute.edu.vn</a></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
