<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Page</title>
</head>
<body>

    <h1>Account Details</h1>
    
    <!-- Hiển thị các thuộc tính của acc -->
    <p><strong>ID:</strong> <span th:text="${acc.id}"></span></p>
    <p><strong>Username:</strong> <span th:text="${acc.username}"></span></p>
    <p><strong>password:</strong> <span th:text="${acc.password}"></span></p>
    <p><strong>password_old:</strong> <span th:text="${pass}"></span></p>
    <p><strong>Full Name:</strong> <span th:text="${acc.fullName}"></span></p>
    <p><strong>Email:</strong> <span th:text="${acc.email}"></span></p>
    <p><strong>Phone:</strong> <span th:text="${acc.phone}"></span></p>
    <p><strong>Status:</strong> <span th:text="${acc.status}"></span></p>
    
    <h2>Roles</h2>
    <ul>
        <!-- Lặp qua danh sách vai trò -->
        <li th:each="role : ${acc.roles}">
            <span th:text="${role.name}"></span> <!-- Hiển thị tên vai trò -->
        </li>
    </ul>

</body>
</html>
