<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Danh mục</title>
</head>
<body>
	<form action="/admin/categories/searchpaginated" method="get">
		<label for="name">Search by Category Name:</label> <input type="text"
			id="name" name="name" placeholder="Enter category name"> <input
			type="hidden" name="page" value="1"> <input type="hidden"
			name="size" value="3">
		<button type="submit">Search</button>
	</form>
	<div th:insert="~{fragments/header}"></div>
	<a th:href="@{/admin/categories/add}">Add Account</a>
	<table border="1" width="100%">
		<tr>
			<th>STT</th>
			<th>Full Name</th>
			<th>User Name</th>
			<th>Password</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Image</th>
			<th>Create Date</th>
			<th>Status</th>
			<th>Action</th>
		</tr>

		<tr th:each="cate, STT : ${listcate}">
			<td th:text="${STT.index + 1}"></td>

			<td th:text="${cate.fullName}"></td>
			<td th:text="${cate.username}"></td>
			<td th:text="${cate.password}"></td>
			<td th:text="${cate.email}"></td>
			<td th:text="${cate.phone}"></td>
			<td><img
				th:if="${cate.image != null && #strings.startsWith(cate.image, 'https')}"
				th:src="${cate.image}" height="150" width="200" /> <img
				th:if="${cate.image != null && !#strings.startsWith(cate.image, 'https')}"
				th:src="@{/file/image(fname=${cate.image})}" height="150" width="200" />
			</td>

			<td th:text="${cate.crDate}"></td>
			<td><span
				th:text="${cate.status == 1 ? 'Đang hoạt động' : 'Khóa'}"></span></td>
		

			<td><a th:href="@{/admin/categories/edit/{id}(id=${cate.id})}">Sửa</a>
				<a th:href="@{/admin/categories/delete/{id}(id=${cate.id})}">Xóa</a>
			</td>
		</tr>
	</table>
	<div th:insert="~{fragments/footer}"></div>
</body>
</html>
