<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password</h2>
    <form action="#" th:action="@{/home/forgot-password}" method="post">
        <label for="username">User Name:</label>
        <input type="text" id="username" name="username" required />
        <button type="submit">Submit</button>
    </form>
    
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</body>
</html>
